cv==1.0.0
ipython==8.10.0
ipywidgets==8.0.4
jupyter==1.0.0
kaleido==0.2.1
matplotlib==3.6.2
numpy==1.23.5
pandas==1.5.2
plotly==5.11.0
protobuf>=3.11.2
readlif==0.6.5
ruptures==1.1.7
scikit_learn==1.2.1
scipy==1.10.1
seaborn==0.12.2
scikit-image==0.19.3
statsmodels==0.13.5
tsfresh==0.19.0
utils==1.0.1
