ipython>=8.10.0
ipywidgets>=8.0.4
jupyter>=1.0.0
jupyterlab>=4.1.5
kaleido>=0.2.1
matplotlib>=3.6.2
numpy>=1.23.5
opencv-python>=4.7.0.68
pandas>=1.5.2
plotly>=5.21.0
protobuf>=3.11.2
readlif>=0.6.5
ruptures>=1.1.7
scikit_learn>=1.2.1
scipy>=1.10.1
seaborn>=0.12.2
scikit-image>=0.19.3
statsmodels>=0.13.5
tsfresh>=0.19.0
ipympl>=0.9.3
openpyxl>=3.1.2
voila>=0.5.6
